<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="author" content="Ludovit Kramar" />
<meta name="robots" content="index, follow"/>
<meta name="description" content="">
<title>My Title</title>
<link rel="stylesheet" href="/style.css">
